gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Android & Configuración Local (IMPORTANTE)
android/local.properties
android/key.properties
android/*.keystore
android/*.jks

# Google Services (Por seguridad futura)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Archivos de sistema
.DS_Store
Thumbs.db
